@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	padding-top: 30px;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	background: #FFF url('http://playground.mnm.be/steunstudenten/img/background.png') top center repeat;
}

h1, h2 {
	font-weight: bold;
	color: #12367E;
}

#logo {
	margin-bottom: 20px;
}

.scrollable {
	max-height: 500px;
	overflow-y: auto;
}

.profileImg {
	background-position: center;
	background-size: cover;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	float: left;
	margin-top:8px;
}
.profileImg.tom {
	background-image: url('../img/tom.jpg');
}
.profileImg.julie {
	background-image: url('../img/julie.jpg');
}
.profileImg.peter {
	background-image: url('../img/peter.jpg');
}
