@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	padding-top: 30px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	background: #FFF url('http://playground.mnm.be/steunstudenten/img/background.png') top center repeat;
}

h1, h2 {
	font-weight: bold;
	color: #12367E;
}

#logo {
	margin-bottom: 20px;
	width: 100%;
	max-width: 182px;
}

.scrollable {
	max-height: 400px;
	overflow-y: auto;
}
.scrollable-sm {
	max-height: 250px;
}

.profileImg {
	background-position: center;
	background-size: cover;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	float: left;
	margin-top:8px;
}
.profileImg.tom {
	background-image: url('../img/tom.jpg');
}
.profileImg.julie {
	background-image: url('../img/julie.jpg');
}
.profileImg.peter {
	background-image: url('../img/peter.jpg');
}

.well {
	background-color: #FFFFFF;
	border: 2px solid #CFEAF4;
}
.well.well-sm {
	border-radius: 8px;
}
